<!doctype html>
<html lang="en">

<head th:replace="~{fragmentos :: dashboard-navbar}"></head>

<body>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Restaurante</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <nav th:replace="~{fragmentos :: sidebarMenu}"></nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>

        <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

        <h2>Section title</h2>
        <form th:action="@{save}" th:object="${itemCardapio}" method="post" enctype="multipart/form-data">
          <input type="hidden" name="idRestaurante" th:field="*{restauranteId}">
          <div class="form-group">
            <label for="nome">Nome do Item</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome..." th:field="*{nome}" />
          </div>
          <div class="form-group">
            <label for="Descrição">Descricao</label>
            <textarea class="form-control" id="Descrição" placeholder="Descrição..." th:field="*{descricao}" />
          </div>
          <!-- <div class="form-group">
            <label for="categoria">Selecione uma ou mais categorias para o seu item</label>
            <select class="custom-select custom-select-lg mb-3" multiple size="4" th:field="*{categorias}">
              <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" th:field="*{arquivoImagemDoItem}"
                accept="image/*">
              <label class="custom-file-label" for="customFile">Carregue a imagem do Item</label>
            </div>
          </div> -->

          <span>Preço</span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input type="text" class="form-control" id="preco" placeholder="0,00" th:field="*{preco}">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="destaque" th:field=""*{destaque}">
            <label class="form-check-label" for="destaque">É destaque?</label>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Cadastrar" />
          </div>

          <input type="button" class="btn btn-danger btn-lg btn-block" value="Voltar" />
    </div>
    </form>
    </main>
  </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script th:src="@{/js/jquery.slim.min.js}"><\/script>')</script>
  <script th:src="@{/js/jquery.slim.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script th:src="@{/js/dashboard.js}"></script>
</body>

</html>